.container{

    .nav-left{
        min-width: 180px;
        background-color: #001529;
        height: 100vh;
    }
    .main{
        background-color: gainsboro;
        max-width: calc(100% - 180px);
        height: 100vh;
    }
}
.logo{
    padding: 20px 0;
    text-align: center;
    background-color:#001529;
    border-bottom: 1px dotted gray;
    h1 {
        color: white;
    }
    img{
        width: 30%;
    }
}